.sliderSize{
    max-width:200px !important;
    max-height:400!important;
}
.labelPosition{

    margin-left:-.4rem;
}

.goBack{
    width:40px!important;
    height:40px !important
}
.cast{
  width:150px !important;
  height:175px !important;  
}
.castname{
    padding-top:30px;
    margin-bottom: -10px
}